*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

/* --------------HEADER--------------------------- */
.first-section-background{
  background-image: url(./images/mobile_intro_bg.png);
  background-size: cover;
  width: 100%;
}
.top-nav{
  display: none;
}
.horiz-nav{
  width: 100%;
  height: 0.1%;
  background-color: white;
}
.logo{
  color: #D71303;
  font-size: 3rem;
}
.nav-links-ul{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #272A31;
  list-style: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  align-items: center;
  justify-content: center;
  display: none;
}
.nav-links-ul.show{
  display: flex;
}
.close{
  position: absolute;
  top: 2%;
  right: 15%;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4%;
  width: 100%;
}
.horiz-nav{
  width: 100%;
  height: 0.1%;
  background-color: white;
}

.nav-links-ul{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #272A31;
  list-style: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  align-items: center;
  justify-content: center;
  display: none;
}
.nav-links-ul.show{
  display: flex;
}
.close{
  position: absolute;
  top: 2%;
  right: 15%;
}

.toggleBar{
display: flex;
flex-direction: column;
visibility: visible;
}

.bar{
width: 20px;
height: 2px;
margin: 2px;
background-color:#272A31;
}
/* ------------------INTRO------------------------ */
.introduction{
  padding: 4%;
  width: 100%;
}
.greeting{
  font-size: 1.2rem;
  color: #EC5242;
  margin-top: 2%;
}
.welcome{
  font-size:2rem ;
  font-weight: 900;
  color: #D71303;
  margin-top: 2%;
}
.intro-paragraph{
  margin-top: 2%;
  padding: 2%;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  color: #555555;
  border: 2px solid white;
  margin-bottom: 5%;
  background: #F5F5F6;
}
.intro-paragraph > p{
  font-size: 1rem;
}
.date{
  font-size: 1.2rem;
  color: #272930;
  font-weight: 700;
}
.address{
  color:#555555;
  font-size: 0.8rem;
  margin-top: 2%;
}

/* -------------MAIN PROGRAM----------------------------- */

.main-program{
  background: url(./images/pattern_bg.png);
  background-repeat: repeat;
  background-color: #272930;
  color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.main-program-title-div{
  width: 100%;
  margin-top: 4%;
  text-align: center;
}
.programs{
  margin-top: 8%;
  background-color:#f7f7f71a;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 2%;
  padding: 3%;
}

.activities{
  color: #D71303;
  font-size: 0.9rem;
  word-wrap: break-word;
}
.seeMore{
  display: none;
}
.mobile-button{
  margin-top: 10%;
  padding: 8%;
  width: 80%;
  font-size: 1rem;
  align-self: center;
  background: #D71303;
  color:white;
  border: none;
}

/* ---------------------SPEAKER------------------------ */
.speakers-section{
  padding: 5%;
}
.speaker-title-rule{
  margin-top: 10%;
  text-align: center;
}
.speaker-div{
  display: flex;
  column-gap: 5%;
  margin-top: 10%;
}
.about-speaker{
  flex: 2;
}
.speaker-img{
  flex: 1;
}
.speaker-section-title{
  font-size:1.5rem;
}
.speaker-name{
  margin-bottom: 5%;
  font-weight: 900;
  font-size: 1.2rem;
}
.speaker-profession{
  margin-top: 3%;
  color: #D71303;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 3%;
}
.rule{
  width: 10%;
  height: 1px;
  background: black;
  margin-top: 5%;
  margin-bottom: 5%;
}
.speaker-bio{
  font-size: 0.8rem;
}
/* --------------Partners Section-------------------- */
.partners{
 background: #272A31; 
 display: flex;
 align-items:center;
 justify-content: center;
 padding: 6%;
 flex-wrap: wrap;
}
.partner-img{
  width: 30%;
}
.partner-title-div{
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;

}
footer{
  display: flex;
  gap: 1%;
  height: 30vh;
  padding: 5%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
  .footer-logo{
flex: 1;
color: #EC5242;
font-size: 3rem;
font-weight: 900;
text-align: center;
  }
  footer{
    column-gap: 1%;
  }
  .reserved{
    flex: 2;
  }
  
/* -------------DESKTOP VERSION-------------------------- */
@media screen and (min-width: 768px) { 
  /* -------------------Nav------------------- */
  .top-nav{
    background: #272A31;
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
   gap:2%;
   padding: 0.3%;
   padding-right: 17%;
   width: 100%;
  }
  .top-link{
    text-decoration: none;
    color: white;

  }
 .nav{
  padding: 1%;
  justify-content: space-around;
  background-color: white;
  margin: 0;
 }
 .logo{
  padding-left: 4%;
 }
 .toggleBar{
  visibility: hidden;
}
 .nav-links-ul{
  background: none;
  display: flex;
  position:static;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10%;
  list-style: none;
  width: 60%;
  align-items: baseline;
 }
.nav-links{
  display: flex;
  row-gap: 5%;
  color: #272930;
  font-size: 1rem;
  border: none;
}
.horiz-nav{
  display: none;
}
.close{
  display: none;
}
.nav-links:hover{
  color: #D71303;
}
.special-link{
  border: 4px solid #D71303;
  padding: 1%;
}

/* -------------INTRO -------------------------------- */
.first-section-background{
  background-image:none;
}
.introduction{
  background-image: url(./images/main_big.png);
  background-size: cover;
  width: 100%;
}
.intro-div{
margin-left: 6%;
}
.greeting{
  margin-top: 1%;
  font-size: 2rem;
}
.welcome{
  font-size: 3.5rem;
}
.intro-paragraph{
  width: 50%;
  margin-bottom: 2%;
}
.date{
  font-size: 2rem;
}
.address{

  font-size: 1rem;
}

/* ----------------------PROGRAM SECTION---------------------------- */
.main-program-title{
  font-size: 1.5rem;
}
.programs{
 gap: 4%;
 display:flex;
 flex-direction: column;

}
.activities{
  font-size: 1.2rem;
}
.activities-p{
  text-align: center;
  line-height: 21px;
  font-size: 0.9rem;
}
.cards{
  display: flex;
  gap: 0.2%;
}
.seeMore{
  display: block;
  text-align: center;
  margin-top: 5%;
  text-transform:uppercase;
  text-decoration: underline;
  font-size: 0.8rem;

}
.mobile-button{
  display: none;
}

/* -------------SPEAKERS SECTIONS------------------- */
.speakers-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.speaker-title-rule{
  margin-top: 5%;
  margin-bottom: 3%;
}

/* ----------------Partner-section----------------- */
.partners{
  padding: 3%;
}
.partner-img{
  width: 15%;
}
.partner-title-div{
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 1.3rem;
}
}